<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Atino</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--Dùng cho slide slic -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    
</head>
<body>
	<header>
		<div class="top_header">
			<div class="top_header_info">
				<div class="top_header_left">
					<a href=""><i class="fa-solid fa-phone-volume"></i>0968 565 041</a>
				</div>
				<div class="top_header_right">
					<div class="login">
						<a href=""><i class="fa-solid fa-circle-user"></i>Đăng Ký</a>
					</div>
					<div class="register">
						<a href=""><i class="fa-solid fa-circle-user"></i>Đăng Nhập</a>
					</div>
					<div class="cart">
						<a href=""><i class="fa-solid fa-cart-shopping"></i>Giỏ Hàng</a>
					</div>
				</div>				
			</div>
		</div>
		<div class="bottom_header">
			<div class="logo">
				<img src="../images/logo_1649154013_aaaaa-min.jpg">
			</div>
			<div class="main_menu">
				<ul class="main_menu_info">
					<li><a href="">Trang Chủ</a></li>
					<li class="main_menu_info_1">
						<a href="">Áo Thu Đông</a>
						<div class="sub_menu">
							<div class="sub_menu_message">
								<ul>
									<li><a href="">Áo Da</a></li>
									<li><a href="">Áo Blazer</a></li>
									<li><a href="">Áo Khoác</a></li>
									<li><a href="">Áo Nỉ</a></li>
								</ul>
							</div>
							<div class="sub_menu_img">
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/nam6098.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/nam6137.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/nam6157.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="main_menu_info_2">
						<a href="">Áo Xuân Hè</a>
						<div class="sub_menu">
							<div class="sub_menu_message">
								<ul>
									<li><a href="">Áo Phông</a></li>
									<li><a href="">Áo Polo</a></li>
									<li><a href="">Áo Tank Top</a></li>
									<li><a href="">Áo Sơ Mi Dài Tay</a></li>
									<li><a href="">Áo Sơ Mi Ngắn Tay</a></li>
								</ul>
							</div>
							<div class="sub_menu_img">
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/2561105.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/2561478.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/2561741.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="main_menu_info_3">
						<a href="">Quần</a>
						<div class="sub_menu">
							<div class="sub_menu_message">
								<ul>
									<li><a href="">Quần Short</a></li>
									<li><a href="">Quần Jeans</a></li>
									<li><a href="">Quần Âu - Kaki</a></li>
									<li><a href="">Quần Nỉ Dài</a></li>
									<li><a href="">Quần Lót</a></li>
								</ul>
							</div>
							<div class="sub_menu_img">
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/860098.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/860164.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/NAM3554.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li class="main_menu_info_4">
						<a href="">Phụ Kiện</a>
						<div class="sub_menu">
							<div class="sub_menu_message">
								<ul>
									<li><a href="">Túi / Balo</a></li>
									<li><a href="">Mũ</a></li>
									<li><a href="">Tất</a></li>
								</ul>
							</div>
							<div class="sub_menu_img">
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/BUM01695_1.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/BUM01718_1.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
								<div class="sub_menu_item">
									<a href="">
										<img src="../images/BUM01746_1.jpg">
										<p class="sub_menu_item_p">Áo khoác L12345</p>
									</a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="">Thông Tin</a></li>
				</ul>
			</div>
			<div class="search">
				<form id="form_search" action="/timkiem" method="GET">
					<input type="text" placeholder="Tìm kiếm..." name="keywork">
					<button type="submit" class="btn_search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
				</form>
			</div>
		</div>
	</header>
    <nav>
    	<div class="slider_nav">
    		<div class="main_nav">
    			<div>
					<img src="../images/slider1.jpg">
				</div>
				<div>
					<img src="../images/slider2.jpg">
				</div>
				<div>
					<img src="../images/slider.jpg">
				</div>
    		</div>
			<!-- <div class="prev_next_news_in">
				<button type='button' class="prev__news_in">
					<i class="fa-solid fa-chevron-left"></i>
				</button>
				<button type='button' class="next__news_in">
					<i class="fa-solid fa-angle-right"></i>
				</button>
			</div> -->
    	</div>
    </nav>
    <main>
    	<div class="container">
    		<div class="title"><a href=""><h3>SẢN PHẨM MỚI</h3></a></div>
    		<div class="product_block">
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
	    					<a href="">
	    						<img src="../images/nam6163.jpg">
	    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    				</div>
	    				<div class="shopping_block">
	    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
	    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
    					</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6098.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6137.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6157.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6376.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6305.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6204.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    			<!-- start -->
    			<div class="product_info">
    				<div class="product_title">
    					<div class="product_img">
    					<a href="">
    						<img src="../images/nam6098.jpg">
    					</a>
	    				</div>
	    				<div class="product_item">
	    					<h3><a href=""> Áo Nỉ L.2.7072</a></h3>
	    					<div class="price">
	    						<p>345.000đ</p>
	    					</div>
	    					<div class="shopping_block">
		    					<a href="" class="shopping_cart"><i class="fa-solid fa-cart-shopping"></i>Mua Nhanh</a>
		    					<a href="" class="shopping_title"><i class="fa-regular fa-eye"></i>Xem Chi Tiết</a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    			<!-- end -->
    		</div>
    	</div>
    </main>
    <footer></footer>
    <script src="../jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.main_nav').slick({ 
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay: true,
				autoplaySpeed: 1000,
				arrows: true,
            	prevArrow:"<button type='button' class='slick-prev pull-left'><i class='fa-solid fa-chevron-left'></i></button>",
           		nextArrow:"<button type='button' class='slick-next pull-right'><i class='fa-solid fa-angle-right'></i></button>"
			    // nextArrow: $('.next__news_in'),
			    // prevArrow: $('.prev__news_in'),
			 });
		});
	</script>

</body>
</html>